<div class="container">
  <div class="row" style="background-color:">
    <div class="col-sm-6" style="background-color:">
      <div class="row placeholders">
        <% @chickens.each do |chicken| %>
          <div class="col-md-18" style="background-color:">
            <div id="block1">

              <%= image_tag chicken.picture.url(:medium) if chicken.picture? %>
              <%= chicken.name %>
              <%= chicken.description %>
              <%= chicken.address %>
              <%= chicken.price_per_day %>
               <%= link_to "je loue", new_chicken_booking_path(chicken) %>

            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6" >
      <div id="map"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>
