<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Date de location</h1>
      <%= simple_form_for [@chicken, @booking] do |f| %>
    <%= f.input :begins_on, placeholder: "Chicken" %>
    <%= f.input :ends_on %>
    <%= f.input :accepted %>
    <%= f.submit "Je valide", class: "btn btn-primary"  %>
    <% end %>
  </div>
 </div>
</div>
